/*Color*/
.white {color: #FFFFFF!important;}

.main-color {color: #1e5675!important;}

.main-color-2 {color: #46aee6!important;}

.red {color: #FF0000!important;}

.warm-red {color: #FA3D13!important;}

.green {color: #016436!important;}

.light-green {color: #38a535!important;}

.lighter-green {color: #ADE8AC!important;}

.blue {color: #1B3D81!important;}

.warm-blue {color: #3B9FC3!important;}

.c-r-blue {color: #6f818f!important;}

.black {color: #000000!important;}

.dark-grey {color: #333333!important;}

.orange {color: #D45500!important;}

.light-brown {color: #995122!important;}

.brown {color: #3A2115!important;}

.dark-brown {color: #151515!important;}

.wine-red {color: #960e0e!important;}

/*Background color*/

.main-color-bg {color: #000!important; background-color: #f8bb00!important;}

.main-color-2-bg {color: #000000!important; background-color: #f8bb00!important;}

.main-white-bg {color: #960e0e!important; background-color: #FFFFFF!important;}

.white-bg {color: #000000!important;background-color: #FFFFFF!important;}
		
.red-bg {color: #FFFFFF!important;background-color: #FF0000!important;}

.warm-red-bg {color: #FFFFFF!important;background-color: #FA3D13!important;}

.wine-red-bg {color: #FFFFFF!important;background-color: #960e0e!important;}

.dark-red-bg {color: #FFFFFF!important;background-color: #DA251D!important;}

.green-bg {color: #FFFFFF!important; background-color: #016436 !important;}

.light-green-bg {color: #FFFFFF!important; background-color: #38a535!important;}

.lighter-green-bg {color: #443B3B!important; background-color: #ADE8AC!important;}

.blue-bg {color: #FFFFFF!important; background-color: #1B3D81!important;}

.c-r-blue-bg {color: #FFFFFF!important; background-color: #6f818f!important;}

.warm-blue-bg {color: #FFFFFF!important; background-color: #3B9FC3!important;}

.orange-bg {color: #000000!important; background-color: #D45500!important;}

.grey-bg {color: #FFFFFF!important; background-color: #999999!important;}

.light-grey-bg {color: #000000!important; background-color: #DDD4D4!important;}

.bluish-grey-bg {color: #1e5675!important; background-color: #d4dde1!important;}

.bluish-grey-2-bg {color: #FFFFFF!important; background-color: #F5F6F4!important;}

.dark-grey-bg {color: #000000!important; background-color: #333333!important;}

.black-bg {color: #ffffff!important; background-color: #000000!important;}

.black-2-bg {color: #ffffff!important; background-color: #212121!important;}

.orange-black-bg {color: #D45500!important; background-color: #000000!important;}

.warm-red-black-bg {color: #FA3D13!important; background-color: #000000!important;}

.black-orange-bg {color: #000000!important; background-color: #D45500!important;}

.light-brown-bg {color: #FFFFFF!important; background-color: #995122;}

.brown-bg {color: #FFFFFF!important; background-color: #3A2115!important;}

.dark-brown-bg {color: #FFFFFF!important; background-color: #151515!important;}

/* Border*/

.orange-hollow{color: #D45500!important; border-color: #D45500!important;}

.white-border{border-color: #FFFFFF!important;}

.black-border{border-color: #000000!important;}

.grey-border{border-color: #999999!important;}

.warm-red-border {color: #FA3D13!important; border-color: #FA3D13!important;}

.warm-blue-border {color: #3B9FC3!important; border-color: #3B9FC3!important;}
